.indexPageCss {
  position: relative;
  padding-top: 50px;
  height: calc(100vh - 0px);
}

.gCenter,
.g-center {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.text-center {
  text-align: center;
}

.row {
  margin: unset;
}

.row-between {
  justify-content: space-between;
}

.row-wrap {
  flex-wrap: wrap;
}

.col-p-10 {
  width: 10%;
}

.col-p-20 {
  width: 20%;
}

.col-p-25 {
  width: 25%;
}

.col-p-33 {
  width: 33.3%;
}

.col-p-50 {
  width: 50%;
}

.col-p-66 {
  width: 66.6%;
}




.col1 {
  flex: 1;
}

.col2 {
  flex: 2;
}

.col3 {
  flex: 3;
}

.col4 {
  flex: 4;
}

.border-color-f0 {
  border: 1px solid #f0f0f0;
}

.text-nowrap {
  white-space: nowrap;
}

/**************************padding**************************/

.padding-5 {
  padding: 5px;
}

.padding-20 {
  padding: 20px;
}

.padding-bt-5,
.padding-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-bt-10,
.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-bt-15,
.padding-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-bt-20,
.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-lr-5,
.padding-rl-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-lr-20,
.padding-rl-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-left-10 {
  padding-left: 10px;
}

/**************************Margin****************************/
.margin-5 {
  margin: 5px;
}

.margin-top_5 {
  margin-top: -5px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom_5 {
  margin-bottom: -5px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.handle {
  cursor: pointer;
}

.align-center {
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-cover {
  background-size: cover;
  position: relative;
}

.img-portrait {
  height: 80px;
  width: 80px;
  position: relative;
  border: 1px solid #f0f0f0;
}

.img-delete {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #f0f0f0;
  background: #fff;
}

.file-upload {
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0px;
  left: 0px;
  position: absolute;
}

.album-body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.album-body .album-item {
  position: relative;
  width: calc(25% - 10px);
  border: 1px solid #f0f0f0;
  height: 160px;
  margin: 5px;
}

.album-body .album-item-small {
  position: relative;
  width: calc(25% - 5px);
}

.split-line-bottom {
  border-bottom: 1px solid #f0f0f0;
}


.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

/*********************************************/
.favorite-body,
.home-body {
  display: flex;
  flex-wrap: wrap;
}


input[type="text"] {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #e0e0e0
}

textarea,
input[type="text"]:focus {
  outline: 1px solid #e0e0e0;
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  min-height: 90px;
}

.person-portrait {
  width: 300px;
  height: 400px;
}

.person-label {
  width: 110px;
  text-align: right;
  padding-right: 10px;
}

.map-sarch-item {
  border: 1px solid #f0f0f0;
  margin-bottom: 5px;
  padding: 3px 5px;

}

.comment-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}


/* ***************ICON**************** */
.icon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-inline-box;
}

.icon-collection {
  background-image: url('./images/icon-collection.png');
}

.icon-collection-select {
  background-image: url('./images/icon-collection-select.png');
}

.icon-position {
  background-image: url('./images/icon-gps.png');
}

.icon-reply {
  background-image: url('./images/icon-reply.png');
}

.icon-reply:hover {
  background-image: url('./images/icon-reply-hover.png');
}

.comment-content {
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 3px 10px;
}


.chat-win-body {
  border: 1px solid #f0f0f0;
  max-height: 300px;
  overflow-y: auto;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-center {
  max-width: 60%;
}

.chat-msg {
  word-break: break-all;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
}


.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}